* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

nav {
    display: grid;
    min-height: 10vh;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    align-self: center;
    justify-content: space-around;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

#slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 165vh;
    background: #504f54;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;

}

#slider.fade {
    opacity: 1;
}

@media screen and (min-width: 1920px) {
    .canvas {
        height: 60%;
        width: 90%;
        position: relative;
        object-fit: contain;
        display: inline-block;
    }
    
    .canvas img {
        height: 112%;
        width: 100%;
        object-fit: cover;
        align-self: center;
        border-radius: 20px;

    }
    
    .nav-links {
        position: absolute;
        background: #181A18;
        z-index: 2;
        top: 0;
        height: 0vh;
        width: 100%;
    }

    #link {
        position: absolute;
        top: 0;
        transform: translate(-40%, 50%);
        z-index: -2;
        transition: 0.5s;
        opacity: 0;
        animation: text .5s ease-out 2.5s forwards;
    }

    @keyframes text {
        100% {
            opacity: 1;
        }
    }
    
    #link:hover {
        background-color: grey;
    }

    #dream {
        padding: 10px;
        position: absolute;
        font-size: 300px;
        display: flex;
        transform: translate(50%, -125%);
        z-index: 3;
        color: white;
        opacity: 0;
        -webkit-transition: opacity 6s ease-in-out;
        -moz-transition: opacity 6s ease-in-out;
        -ms-transition: opacity 6s ease-in-out;
        -o-transition: opacity 6s ease-in-out;
        transition: opacity 6s ease-in-out;
    }

    #dream.fade {
        opacity: 1;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .BOX_1 {
        position: absolute;
        font-size: 50px;
        background-color: #181A18;
        height: 400px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 7px;
        border-radius: 10px;
        transform: translate(120%, 80%);
    }
    .BOX_2 {
        position: absolute;
        font-size: 50px;
        background-color: #181A18;
        height: 400px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 7px;
        border-radius: 10px;
        transform: translate(0%, 80%);
    }
    .BOX_3 {
        position: absolute;
        font-size: 50px;
        background-color: #181A18;
        height: 400px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 7px;
        border-radius: 10px;
        transform: translate(-120%, 80%);
    }
}