* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

nav {
    display: grid;
    min-height: 10vh;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    align-self: center;
    justify-content: space-around;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #504f54;
    z-index: -1;
}

.canvas {
    height: 60%;
    width: 80%;
    position: relative;
    object-fit: contain;
    display: inline-block;
}

.canvas img {
    height: 100%;
    height: 100%;
    object-fit: cover;
}

.canvas .alt {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.canvas:hover .alt {
    display: inline;
}

.dream {
    top: 90%;
    left: 30%;
    padding: 10px;
    position: absolute;
    font-size: 100px;
    transform: translate(-120%, -150%);
    z-index: 99;
    color: white;
}

@media screen and (min-width: 1920px) {
    #hamburger {
        grid-column: 2/3;
        position: absolute;
        top: 2%;
        left: 50%;
        opacity: 0;
        -webkit-transition: opacity 2s ease-in-out;
        -moz-transition: opacity 2s ease-in-out;
        -ms-transition: opacity 2s ease-in-out;
        -o-transition: opacity 2s ease-in-out;
        transition: opacity 2s ease-in-out;
    }
    
    #hamburger.fade {
        opacity: 1;
    }
    
    .nav-links {
        position: absolute;
        background: #181A18;
        z-index: 2;
        top: 0;
        height: 0vh;
        width: 100%;
    }

    #link {
        position: absolute;
        top: 0;
        transform: translate(-20%, 50%);
        z-index: -2;
    }
}