* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

nav {
    display: grid;
    min-height: 10vh;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    align-self: center;
    justify-content: space-around;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background: #504f54;
    z-index: -1;
}

.canvas .alt {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.canvas:hover .alt {
    display: inline;
}

@media screen and (max-width: 2560px) {
    .nav-links {
        position: absolute;
        background: #181A18;
        z-index: 2;
        top: 0;
        height: 0vh;
        width: 100%;
    }

    #link {
        position: absolute;
        top: 0;
        transform: translate(-40%, 35%);
        z-index: -2;
        opacity: 0.5;
        transition: 0.5s;
    }
    
    #link:hover {
        opacity: 1;
    }

    .canvas {
        height: 50%;
        width: 85%;
        position: relative;
        object-fit: contain;
        display: inline-block;
    }
    
    .canvas img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;

    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .BOX_1 {
        position: absolute;
        font-size: 50px;
        background-color: #181A18;
        height: 400px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 7px;
        border-radius: 10px;
        transform: translate(0%, 100%);
    }
}

@media screen and (min-width: 1920px) {
    .canvas {
        height: 60%;
        width: 80%;
        position: relative;
        object-fit: contain;
        display: inline-block;
    }
    
    .canvas img {
        height: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .nav-links {
        position: absolute;
        background: #181A18;
        z-index: 2;
        top: 0;
        height: 0vh;
        width: 100%;
    }

    #link {
        position: absolute;
        top: 0;
        transform: translate(-20%, 50%);
        z-index: -2;
    }

    #dream {
        padding: 10px;
        position: absolute;
        font-size: 300px;
        display: flex;
        transform: translate(50%, -125%);
        z-index: 3;
        color: white;
        opacity: 0;
        -webkit-transition: opacity 5s ease-in-out;
        -moz-transition: opacity 5s ease-in-out;
        -ms-transition: opacity 5s ease-in-out;
        -o-transition: opacity 5s ease-in-out;
        transition: opacity 5s ease-in-out;
    }

    #dream.fade {
        opacity: 1;
    }

    #dream {
        padding: 10px;
        position: absolute;
        font-size: 300px;
        display: flex;
        transform: translate(50%, -125%);
        z-index: 3;
        color: white;
        opacity: 0;
        -webkit-transition: opacity 5s ease-in-out;
        -moz-transition: opacity 5s ease-in-out;
        -ms-transition: opacity 5s ease-in-out;
        -o-transition: opacity 5s ease-in-out;
        transition: opacity 5s ease-in-out;
    }

    #dream.fade {
        opacity: 1;
    }
}